<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Twillio Message</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
  </head>
  <body>
    <center>
    <h1>Send SMS</h1>
    <p>Click on the button below to send SMS to your phone</p><br>
    <a href="/sms">
    <img src="static/images/phoneclipart.png"><br></br>
    <button class="button button1">Send SMS</button>
    </a>
    </center>
    <script src="static/script.js"></script>
  </body>
</html>